@font-face {
    font-family: PopinReg;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: PopinMed;
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: PopinSBold;
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: PopinsExtraLight;
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: PopinsLight;
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}


*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.contactlink{
    width: 225px;
}

@media (max-width: 425px) {
    .contactlink{
        width: 225px;
    }
}

.ext{
    margin-left: 74px;
}

.phonenumber, .contactlinksnav1{
    font-family: PopinReg;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .phonenumber, .contactlinksnav1{
        font-size: 1.4rem;
    }
}

.nav-link-a{
    display: block;
    padding: 0.5rem 0rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}


.phonenumber:hover{
    color: #fff;
}


.contactlinksnav2{
    font-family: PopinMed;
    font-size: 2.2rem;
    color: #000000;
}

@media (max-width: 1024px) {
    .contactlinksnav2{
        font-size: 1.8rem;
    }
}

.navlogo{
    height: 30px;
    display: flex;
    align-items: center;
}

.navlogo2{
    height: 60px;
}

@media (max-width: 360px) {
    .valuelogo{
        width: 192px;
    }
}

.socialIcons{
    font-size: 1.8rem;
}

.imageContainer{
    position: relative;
}
.backgroundCont{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0,1));
}
.gradientColor{
    width: 100%;
    max-height: 676px;
}

.galleryText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 1452px;
}

.galleryText p{
    color: #FFFFFF;
    font-family: PopinReg;
    font-size: 5rem;
}

.galleryText h3{
    font-family: PopinSBold;
    font-size: 6.4rem;
}


@media (max-width: 425px) {
    .galleryText p{
        font-size: 1rem;
    }
    .galleryText h3{
        font-size: 1.4rem;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .galleryText p{
        font-size: 1.5rem;
    }
    .galleryText h3{
        font-size: 2.8rem;
    }
}   


@media (min-width: 768px) and (max-width: 1024px) {
    .galleryText p{
        font-size: 2rem;
    }
    .galleryText h3{
        font-size: 3.5rem;
    }
}




.galleryContainer{
    position: relative;
}

.form-trail{
    position: absolute;
    left: 50%;
    bottom: -20vh;
    transform: translate(-50%,-50%);
    height: 20vh;
    max-width: 1716px;
    width: 90%;
    background-color: #F43535;
    padding-top: 5px;
    box-shadow: 0 13px 40px rgba(0, 0, 0,0.21);
}


.form-trail .formText1{
    font-family: PopinReg;
    font-size: 1.8rem;
    color: #FFFFFF;
}
.form-trail .formText2{
    font-family: PopinSBold;
    font-size: 2.2rem;
    color: #FFFFFF;
}

@media (max-width: 425px) {
    .form-trail{
        bottom: -25vh;
        height: 20vh;
    }

    .form-trail .formText1{
        font-size: 1rem;
    }

    .form-trail .formText2{
        font-size: 1.4rem;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .form-trail{
        bottom: -25vh;
        height: 20vh;
    }
    .form-trail .formText1{
        font-size: 1rem;
    }

    .form-trail .formText2{
        font-size: 1.4rem;
    }
}   

@media (min-width: 769px) and (max-width: 992px) {
    .form-trail{
        bottom: -25vh;
        height: 20vh;
    }
    .form-trail .formText1{
        font-size: 1rem;
    }
    .form-trail .formText2{
        font-size: 1.4rem;
    }
}   

.inputItem{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-family: PopinReg;
    font-size: 1.8rem;
    color: white;
}

.inputItem1{
    background-color: rgba(0,0,0,0.32);
    border: none;
    font-family: PopinSBold;
    font-size: 1.8rem;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.inputItem1:hover{
    color: white;
}


.inputItem:focus-visible{
    background-color: transparent;
    font-family: PopinReg;
    font-size: 1.8rem;
    color: white;
}

.inputItem::placeholder{
    font-family: PopinReg;
    font-size: 1.8rem;
    color: white;
}

@media (max-width: 425px) {
    .inputItem{
        font-size: 1rem;
    }
    
    .inputItem:focus-visible{
        font-size: 1rem;
    }
    .inputItem::placeholder{
        font-size: 1rem;
    }
    .inputItem1{
        font-size: 1.2rem;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        text-decoration: none;
    }
    .inputItem1:hover{
        color: white;
    }
}




@media (min-width: 426px) and (max-width: 992px) {
    .inputItem{
        font-size: 1.2rem;
    }
    
    .inputItem:focus-visible{
        font-size: 1.4rem;
    }
    .inputItem::placeholder{
        font-size: 1.4rem;
    }
    .inputItem1{
        font-size: 1.2rem;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        text-decoration: none;
    }
    .inputItem1:hover{
        color: white;
    }
}   

@media (min-width: 1440px){
    .inputItem{
        font-size: 2rem;
    }
    
    .inputItem:focus-visible{
        font-size: 2rem;
    }
    .inputItem::placeholder{
        font-size: 2rem;
    }
    .inputItem1{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        max-width: 220px;
        text-align: start;
    }
    .inputItem1:hover{
        color: white;
    }
}   


.headerTextCont{
    font-family: PopinsExtraLight;
    color: #000000;
    font-size: 2rem;
    max-width: 1430px; 
    width: 80%;
}

.textContainer{
    height: 40vh
}

@media (max-width: 425px) {
    .headerTextCont{
        font-size: 1rem;
    }
    .textContainer{
        height: 50vh
    }
}

@media (min-width: 426px) and (max-width: 992px) {
    .headerTextCont{
        font-size: 1rem;
    }
    .textContainer{
        height: 40vh
    }
}  


@media (min-width: 1440px){
    .headerTextCont{
        font-size: 3rem;
    }
}   

.valuehtisStat{
    font-family: PopinMed;
    font-size: 5rem;
    text-align: center;
    background: linear-gradient(to left, rgba(224,229,232,0),rgba(226,231,234,0.4), rgba(226,231,234,0.4),rgba(224,229,232,0));
    padding-top: 60px;
    padding-bottom: 60px;
}



@media (min-width: 1440px){
    .valuehtisStat{
        font-size: 6rem;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}   

.card{
    background-color: rgba(110,123,136,0.06);
    border: none;
    box-shadow: 0 13px 40px rgba(0, 0, 0,0);
    min-height: 300px;
    margin: 5px;
}


.card-title{
    font-family: PopinsExtraLight;
    font-size: 7rem;
    line-height: 12.5rem;
}

.card-subtitle{
    font-family: PopinSBold;
    font-size: 1.8rem;
    line-height: 40px;
}

.card-text{
    font-family: PopinsLight;
    font-size: 1.8rem;
    line-height: 30px;
}



@media (max-width: 992px)  {
    .valuehtisStat .valtext{
        font-size: 3rem;
    }
    
    .card{
        min-height: 200px;
        margin: 5px;
    }
    
    
    .card-title{
        font-size: 5rem;
        line-height: 8.5rem;
    }
    
    .card-subtitle{
        font-size: 1.6rem;
        line-height: 3rem;
    }
    
    .card-text{
        font-size: 1.6rem;
        line-height: 3rem;
    }    
}

@media (min-width: 426px) and (max-width: 992px) {
    .valuehtisStat .valtext{
        font-size: 4rem;
    }
}  


@media (min-width: 1440px){
    .card{
        min-height: 400px;
    }
    .card-title{
        font-size: 8rem;
        line-height: 145px;
    }
    
    .card-subtitle{
        font-size: 2.2rem;
        line-height: 40px;
    }
    
    .card-text{
        font-size: 2.2rem;
        line-height: 30px;
    }
}   

.vision{
    background-color: #242424;
}

.mission{
    background-color: #000000;
}

.visionHeading,.missionHeading{
    font-family: PopinsLight;
    font-size: 45px;
}
.visionPara,.missionPara{
    font-family: PopinsExtraLight;
    font-size: 22px;
}


.duplicateContleft {
    width: 360px;
    padding-right: var(--bs-gutter-x, .75rem);
    margin-left: auto;
    text-align: end;
}

.duplicateContright {
    width: 360px;
    max-width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    text-align: start;
}

.mrow>* {
    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);
    margin-top: var(--bs-gutter-y);
}


@media (max-width: 575.98px) { 
    .duplicateContleft {
        width: 80%;
        padding-right: 0;
        margin: auto;
        text-align: center;
    }
    .duplicateContright {
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        text-align: center;
    }
    .visionHeading,.missionHeading{
        font-size: 3.2rem;
    }
    .visionPara,.missionPara{
        font-size: 1.2rem;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) {
    .duplicateContleft,.duplicateContright {
        width: 80%;
        padding-right: 0;
        margin: auto;
        text-align: center;
    }
    .visionHeading,.missionHeading{
        font-size: 3.2rem;
    }
    .visionPara,.missionPara{
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .duplicateContleft, .duplicateContright  {
        width: 360px;
    }
    .visionHeading,.missionHeading{
        font-size: 3.4rem;
    }
    .visionPara,.missionPara{
        font-size: 1.4rem;
    }
    
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .duplicateContleft {
        width: 480px;
        
    }
    .duplicateContright {
        width: 4800px;
    }
    .visionHeading,.missionHeading{
        font-size: 3.6rem;
    }
    .visionPara,.missionPara{
        font-size: 1.6rem;
    }
 }

@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .duplicateContleft {
        width: 560px;
    }
    .duplicateContright {
        width: 560px;
    }
    .visionHeading,.missionHeading{
        font-size: 3.8rem;
    }
    .visionPara,.missionPara{
        font-size: 1.8rem;
    }
 }

 @media (min-width: 1400px) { 
    .duplicateContleft {
        width: 660px;
    }
    .duplicateContright {
        width: 660px;
    }
 }


.clienteleSection{
    background-color: rgba(110,123,136,0.06);
    height: 600px;
}

.clienteleSection h3, p{
    text-align: center;
}
.clienteleSection h3{
    font-family: PopinMed;
    font-size: 4.8rem;
    padding-top: 90px;
}
.clienteleSection p{
    font-family: PopinsLight;
    font-size: 2.2rem;
}

.imgLogo{
    width: 200px;
    height: 120px;
}

.imgCont{
    padding: 5px; 
    background-color: white;
    
}

/* 
Responsive Breakpoints:- 

@media (max-width: 575.98px){}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px){}

@media (min-width: 1200px) and (max-width: 1399.98px) {}

@media (min-width: 1400px){} 
*/


@media (max-width: 575.98px) { 
    .clienteleSection{
        height: 1650px;
    }
    .imgCont{
        text-align: center;
        padding: 28px;
    }
    .imgLogo{
        width: 140px;
        height: 80px;
    }

    .clienteleSection h3{
        font-size: 4.2rem;
    }
    .clienteleSection p{
        font-size: 1.2rem;
    }
 }

 @media (min-width: 576px) and (max-width: 767.98px) {
    .clienteleSection{
        height: 950px;
    }

    .imgCont{
        text-align: center;
        padding: 28px;
    }
    .imgLogo{
        width: 140px;
        height: 80px;
    }
    .clienteleSection h3{
        font-size: 4.2rem;
    }
    .clienteleSection p{
        font-size: 1.4rem;
    }
}




@media (min-width: 768px) and (max-width: 991.98px) {
    .clienteleSection{
        height: 400px;
    }

    .imgLogo{
        width: 130px;
        height: 80px;
    }
    .imgCont{
        padding: 0px; 
    }

    .clienteleSection h3{
        font-size: 4.8rem;
    }
    .clienteleSection p{
        font-size: 1.4rem;
    }
    
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .clienteleSection{
        height: 450px;
    }
    .imgLogo{
        width: 140px;
        height: 80px;
    }
    .imgCont{
        padding: 8px; 
    }

    .clienteleSection h3{
        font-size: 4.8rem;
    }
    .clienteleSection p{
        font-size: 1.4rem;
    }
 }



 @media (min-width: 1400px) and (max-width: 1600px){
    .clienteleSection{
        height: 800px;
    }


    .imgLogo{
        width: 200px;
        height: 160px;
    }


    .imgCont{
        padding: 28px;
    }
    .clienteleSection h3{
        font-family: PopinMed;
        font-size: 6.1rem;
        padding-top: 90px;
    }
    .clienteleSection p{
        font-family: PopinsLight;
        font-size: 2.2rem;
    }
 }

 @media (min-width: 1601px) { 
    .clienteleSection{
        height: 800px;
    }

    
    .csContainer{
        max-width: 1642px;
    }

    .imgLogo{
        width: 220px;
        height: 160px;
    }


    .imgCont{
        padding: 32px;
    }
}

 

 .logoContainer{
     box-shadow: 0 13px 40px rgba(0,0,0,0.09);
 }

 /* .certificationsSection{
     height: 340px;
 } */

 /* .certificationRow{
    height: 200px;
 } */

 .certificationHeading{
    font-family: PopinMed;
    font-size: 61px;
     text-align: start;
 }
 .certificationPara{
    font-family: PopinsLight;
    font-size: 22px;
     text-align: start;
 }

 @media (max-width: 575.98px){
    .certificationRow{
        height: 260px;
     }
     .certificationHeading{
        font-size: 3.6rem;
        text-align: center;
     }
     .certificationPara{
        font-size: 1.2rem;
        text-align: center;
     }
     .googlePartnerImg{
         width: 200px;
         margin: auto;
     }
 }

 @media (min-width: 576px) and (max-width: 767.98px) {
    .certificationRow{
        height: 260px;
     }
     .certificationHeading{
        font-size: 4.2rem;
        text-align: center;
     }
     .certificationPara{
        font-size: 1.4rem;
        text-align: center;
     }
     .googlePartnerImg{
         width: 200px;
         margin: auto;
     }
 }



 @media (min-width: 768px) and (max-width: 991.98px) {
    .certificationRow{
        height: 280px;
     }
     .certificationHeading{
        font-size: 4.8rem;
     }
     .certificationPara{
        font-size: 1.6rem;
     }
 }

 @media (min-width: 992px) and (max-width: 1199.98px){
    .certificationRow{
        height: 320px;
     }
     .certificationHeading{
        font-size: 5rem;
     }
     .certificationPara{
        font-size: 1.6rem;
     }
 }

 @media (min-width: 1200px) and (max-width: 1399.98px) {
    .certificationRow{
        height: 320px;
     }
     .certificationHeading{
        font-size: 5.2rem;
     }
     .certificationPara{
        font-size: 1.8rem;
     }
 }

 @media (min-width: 1400px) { 
    .certificationRow{
        height: 320px;
     }
     .certifSec{
         max-width: 1642px;
     }
 }

 .benfitCont{
    background-color: #F43535;
 }

.benfitContHeading{
    font-family: PopinsLight;
}
.benfitContIcon a{
    text-decoration: none;
}


@media (max-width: 575.98px){
    .benfitContHeading{
        font-size: 1.6rem;
    }
    .benfitContIcon{
        font-size: 1.6rem;
        padding: 14px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .benfitContHeading{
        font-size: 2.2rem;
    }
    .benfitContIcon{
        font-size: 2.2rem;
        padding: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .benfitContHeading{
        font-size: 3.0rem;
    }
    .benfitContIcon{
        font-size: 3.0rem;
        padding: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .benfitContHeading{
        font-size: 3.2rem;
    }
    .benfitContIcon{
        font-size: 3.2rem;
        padding: 22px;
    }
}

 @media (min-width: 1200px) and (max-width: 1399.98px) {
    .benfitContHeading{
        font-size: 3.2rem;
    }
    .benfitContIcon{
        font-size: 3.2rem;
        padding: 24px;
    }
 }

 @media (min-width: 1400px){
    .benfitContHeading{
        font-size: 4.1rem;
    }
    .benfitContIcon{
        font-size: 4.1rem;
        padding: 26px;
    }
 }

 

 
 /* ------------------------------------- */
 .globalPresenceSection{
    background-image: url('../images/globalPresenceBg.png');
    background-size: cover;
}
.globalContText h3{
    font-family: PopinMed;
}

.globalContText p{
    font-family: PopinsLight;
}

.addressCard h4{
    font-family: PopinMed;
}

.addressCard p, ul{
    font-family: PopinsLight;
}

.addressCard ul{
    list-style-type: none;
}

.addressCard ul li{
    color: #000000;
}

@media (max-width: 575.98px){
    .globalPresenceSection{
        height: 520px;
    }
    .gpContainer{
        width: 100%;
    }

    .globalContText{
        padding: 2.2rem;
    }
    
    .globalContText h3{
        font-size: 2.4rem;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .globalContText p{
        font-size: 1.2rem;
    }

    .addressCard{
        padding: 5px;
    }

    .addressCard h4{
        font-size: 1.2rem;
    }

    .addressCard p, ul{
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .globalPresenceSection{
        height: 620px;
    }
    .gpContainer{
        width: 100%;
    }

    .globalContText{
        padding: 2.6rem;
    }
    
    .globalContText h3{
        font-size: 2.8rem;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    .globalContText p{
        font-size: 1.4rem;
    }

    .addressCard{
        padding: 20px;
    }

    .addressCard h4{
        font-size: 1.6rem;
    }

    .addressCard p, ul{
        font-size: 1.4rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .globalPresenceSection{
        height: 680px;
    }
    .gpContainer{
        width: 100%;
    }

    .globalContText{
        padding: 2.6rem;
    }
    
    .globalContText h3{
        font-size: 2.8rem;
        padding-top: 10px;
        padding-bottom: 92px;
    }

    .globalContText p{
        font-size: 1.4rem;
    }

    .addressCard{
        padding: 30px;
    }

    .addressCard h4{
        font-size: 1.6rem;
    }

    .addressCard p, ul{
        font-size: 1.4rem;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .globalPresenceSection{
        height: 780px;
    }
    .gpContainer{
        width: 100%;
    }

    .globalContText{
        padding: 3.6rem;
    }
    
    .globalContText h3{
        font-size: 3.8rem;
        padding-top: 30px;
        padding-bottom: 92px;
    }

    .globalContText p{
        font-size: 1.6rem;
    }

    .addressCard{
        padding: 60px;
    }

    .addressCard h4{
        font-size: 2.0rem;
    }

    .addressCard p, ul{
        font-size: 1.6rem;
    }
}


 @media (min-width: 1200px) and (max-width: 1399.98px) {
    .globalPresenceSection{
        height: 910px;
    }
    .gpContainer{
        width: 100%;
    }

    .globalContText{
        padding: 4rem;
    }
    
    .globalContText h3{
        font-size: 4rem;
        padding-top: 30px;
        padding-bottom: 92px;
    }

    .globalContText p{
        font-size: 1.8rem;
    }

    .addressCard{
        padding: 60px;
    }

    .addressCard h4{
        font-size: 2.4rem;
    }

    .addressCard p, ul{
        font-size: 1.8rem;
    }
 }



 @media (min-width: 1400px){
    .globalPresenceSection{
        height: 997px;
    }
    .gpContainer{
        max-width: 1630px;
    }

    .globalContText{
        padding: 62px;
    }
    
    .globalContText h3{
        font-size: 61px;
        padding-top: 30px;
        padding-bottom: 102px;
    }

    .globalContText p{
        font-size: 22px;
    }

    .addressCard{
        padding: 102px;
    }

    .addressCard h4{
        font-size: 30px;
    }

    .addressCard p, ul{
        font-size: 22px;
    }
 } 

 
/* ----------------------------------- */

.newsBlogSection h5{
    font-family: PopinMed;
    color: #EA3A3A;
}
.newsBlogSection p{
    font-family: PopinsExtraLight;
}

.secondcard .card-text a{
    text-decoration: none;
    color: #000000;
}

.secondcard .card-text p{
    font-family: PopinsLight;
}

@media (max-width: 575.98px){
    .newsBlogSection h5{
        font-size: 1.8rem;
        padding-top: 60px;
    }
    .newsBlogSection > p{
        font-size: 2rem;
    }
    .blogContainer{
        width: 100%;
        max-width: 320px;
    }
    .secondcard .card{
        height: 380px;
    }
    .secondcard .card-text{
        width: 80%;
        margin: auto;
        height: 120px;
    }
    .secondcard .card-text p{
        font-size: 1.4rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .secondcard  .card-text a{
        padding-bottom: 10px;
    } 
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .newsBlogSection h5{
        font-size: 2rem;
        padding-top: 60px;
    }
    .newsBlogSection > p{
        font-size: 2.8rem;
    }
    .blogContainer{
        width: 100%;
        max-width: 760px;
    }
    .secondcard .card{
        height: 460px;
    }
    .secondcard .card-text{
        width: 80%;
        margin: auto;
        height: 160px;
    }
    .secondcard .card-text p{
        font-size: 1.4rem;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .secondcard  .card-text a{
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .newsBlogSection h5{
        font-size: 2rem;
        padding-top: 60px;
    }
    .newsBlogSection > p{
        font-size: 3.2rem;
    }
    .blogContainer{
        width: 100%;
        max-width: 980px;
    }
    .secondcard .card{
        height: 480px;
    }
    .secondcard .card-text{
        width: 80%;
        margin: auto;
        height: 180px;
    }
    .secondcard .card-text p{
        font-size: 1.6rem;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .secondcard  .card-text a{
        padding-bottom: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .newsBlogSection h5{
        font-size: 2.4rem;
        padding-top: 60px;
    }
    .newsBlogSection > p{
        font-size: 4.4rem;
    }
    .blogContainer{
        width: 100%;
        max-width: 1324px;
    }
    .secondcard .card{
        height: 375px;
    }
    .secondcard .card-text{
        width: 80%;
        margin: auto;
        height: 210px;
    }
    .secondcard .card-text p{
        font-size: 1.6rem;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .secondcard .card-text a{
        padding-bottom: 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .newsBlogSection{
        height: 1040px;
    }
    .newsBlogSection h5{
        font-size: 2.8rem;
        padding-top: 60px;
    }
    .newsBlogSection > p{
        font-size: 4.8rem;
    }
    .blogContainer{
        width: 100%;
        max-width: 1324px;
    }
    .secondcard  .card{
        height: 480px;
    }
    .secondcard .card-text{
        width: 80%;
        margin: auto;
        height: 210px;
    }
    .secondcard .card-text p{
        font-size: 1.8rem;
        padding-bottom: 30px;
    }
    .secondcard .card-text a{
        padding-bottom: 20px;
    }
}

@media (min-width: 1400px){
    .newsBlogSection{
        height: 1192px;
    }
    
    .newsBlogSection h5{
        font-size: 30px;
        padding-top: 60px;
    }
    .newsBlogSection > p{
        font-size: 50px;
    }
    .blogContainer{
        width: 100%;
        max-width: 1724px;
    }
    .secondcard .card{
        height: 526px;
    }
    .secondcard .card-text{
        width: 80%;
        margin: auto;
        height: 200px;
    }
    .secondcard .card-text > p{
        font-family: PopinsLight;
        font-size: 22px;
        padding-bottom: 30px;
    }
    .secondcard .card-text >a{
        padding-bottom: 20px;
    }
}

/* ------------------ */

.formCont h5{
    font-family: PopinMed;
    color: red;
    text-align: center;
}

.formCont p{
    font-family: PopinsExtraLight;
    color: white;
}

.inputItem2{
    font-family: PopinSBold;
    color: white;
    border: none;
    text-decoration: none;
}
.inputItem2:hover{
    color: white;
}

.inputItem-f2{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    font-family: PopinReg;
    color: white;
}


.inputItem-f2:focus-visible{
    background-color: transparent;
    font-family: PopinReg;
    color: white;
}

.inputItem-f2::placeholder{
    font-family: PopinReg;
    color: white;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .formSect{
        position: relative;
    }
    .formCont{
        width: 100%;
        max-width: 1324px;
        background-color: black;
        height: 400px;
        position: absolute;
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
        padding: 60px;
    }
    .formCont h5{
        font-size: 2rem;
    }

    .formCont p{
        font-size: 4rem;
    }
    .formBox{
        padding-top: 70px;
        height: 200px;
    }
    .inputItem2{
        font-size: 2.2rem;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        text-align: center;
        background-color: red;
    }
    .inputItem2:hover{
        color: white;
    }
    .inputItem-f2{
        font-size: 2.2rem;
    }
    
    .inputItem-f2:focus-visible{
        font-size: 2.2rem;
    }
    .inputItem-f2::placeholder{
        font-size: 2.2rem;
    }

}


@media (min-width: 1400px){
    .formSect{
        position: relative;
    }
    .formCont{
        width: 100%;
        max-width: 1724px;
        background-color: black;
        height: 668px;
        position: absolute;
        top: -334px;
        left: 50%;
        transform: translateX(-50%);
        padding: 86px;
    }
    .formCont h5{
        font-size: 30px;
    }

    .formCont p{
        font-size: 50px;
    }
    .formBox{
        padding-top: 125px;
        height: 300px;
    }
    .inputItem2{
        font-size: 3rem;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        text-align: center;
        background-color: red;
    }
    .inputItem2:hover{
        color: white;
    }
    .inputItem-f2{
        font-size: 2.2rem;
    }
    
    .inputItem-f2:focus-visible{
        font-size: 2.2rem;
    }
    .inputItem-f2::placeholder{
        font-size: 2.2rem;
    }
}





 /* 
Responsive Breakpoints:- 

@media (max-width: 575.98px){}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px){}

@media (min-width: 1200px) and (max-width: 1399.98px) {}

@media (min-width: 1400px){}
*/